body {

    margin: 0;
    font-family: Arial, sans-serif;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a,
        #2563eb
    );

    color: white;
}

.container {

    width: 80%;
    margin: auto;
    padding-top: 40px;
}

h1 {

    text-align: center;
    font-size: 50px;
}

.card {

    background: rgba(255,255,255,0.1);

    padding: 25px;

    margin-top: 20px;

    border-radius: 15px;

    backdrop-filter: blur(5px);

    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

ul {

    line-height: 2;
}